DATABASE_URL=""

BETTER_AUTH_URL=""
BETTER_AUTH_SECRET=""

SEED_ADMIN_NAME=""
SEED_ADMIN_EMAIL=""
SEED_ADMIN_PASSWORD=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""